.carousel-generic.demo {
    $size: 90px;
    position: relative;
    width: $size;
    height: $size;

    .circle {
        position: relative;
        height: $size;
        transition: all .3s cubic-bezier(.215, .610, .355, 1.000);
        border-radius: 50%;

        > span {
            display: block;
            text-align:center;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px;
        }
    }

    .a-carousel li.active & {
        .circle {
            background: #449bd1;
            > span{
                color: white;
            }
        }
    }
}
