.carousel-generic{
    &.receipt{
        position: relative;
        $size: 90px;
        width: $size;
        height: $size + 14px; // Need to add 14 px for the .icon inside the wrapper

        .circle {
            position: relative;
            height: $size;
            transition: all .3s cubic-bezier(.215, .610, .355, 1.000);
            border-radius: 50%;
            display:flex;
            align-items:center;

            .wrapper {
                text-align: center;
                flex: 1;
                font-size: 18px;
                padding: 18px 0;
                color:$brand-primary;

                > span{
                    display: block;
                    margin:8px 0;
                }

                .month, .indic-euro2{
                    font-size: 14px;
                }

                .month{
                    font-weight: 300;
                    text-transform: uppercase;
                    display: block;
                }

                .price {
                    display:block;
                    display: flex;
                    align-items: center;
                    display: flex;
                    justify-content: center;

                    sup {
                        font-size: 60%;
                        top: -4px;
                        left: 2px;
                    }

                    .indic-euro1{
                        margin-left: 3px;
                    }
                }

                .indic{
                    span {
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: red;

                        &.paid {
                            background-color: #c9cb86;
                        }
                    }
                }

                .indic-euro2{
                    display: none;
                }

                .icon {
                    display:none;
                }
            }

        }

        .menu-carousel li.active & {
            .circle {
                background: #449bd1;

                .wrapper {
                    color: $color-white;
                    padding: 0;
                    .month, .indic, .indic-euro1{
                        display: none;
                    }

                    .indic-euro2 {
                        display: block;
                        font-weight: 300;
                        margin: -8px 0;
                    }

                    .icon {
                        display:block;
                        position:absolute;
                        left: calc(50% - 15px);
                        bottom:-14px;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: white;
                        transform: rotate(180deg);

                        i {
                            position: relative;
                            top:2px;
                            font-size: 26px;
                            color: #c6007e;
                        }

                        &.paid {
                            transform:none;
                            i {
                                color: #688017;
                                font-size:30px;
                                top:0;
                            }
                        }
                    }

                }
            }
        }
    }
}
